@*@using WebApplication1.Models*@
@*@using WebApplication1.Models*@
@*@model WebApplication1.Models.Author*@
@model IEnumerable<Author>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Autores</h2>

<ul>
@foreach (Author a in Model)
{
    <li>- @a.Name</li>
}
</ul>